// Colors
$black: #000000;
$teal: #6fcda9;
$veryLightTeal: #B4E8D4;
$pink: #ff7676;
$yellow: #efe18e;
$grayishBlue: hsl(233, 8%, 62%);
$lightpink: #F6E3E3;
$veryLightYellow: #fdfaec;
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: .875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 1.25rem; //20px
$font-xlg: 3.25rem; //52px
